// File: CustomLayout.module.scss

$custom-header-height: 100px; // Adjust as needed
$custom-bg: #f4f4ff; // Adjust as needed
$custom-primary: #3498db; // Adjust as needed
$custom-border-radius: 12px; // Adjust as needed

.main-container {
  height: calc(100vh - #{$custom-header-height});
  background: $custom-bg;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    padding: 1.5rem 2.5rem;
    background: linear-gradient(220deg, $custom-primary, rgba($custom-primary, 0.5));
    border-radius: $custom-border-radius calc(#{$custom-border-radius} * 10);
  }
}
